<div class="advertises container">
    <div class="row">
        <div class="advertise_1 col-lg-8">
            <div class="advertise_1">
                <img src="../assets/images/advertise_1.jpg" alt="tow high-end material" class="image-fill">
                <p class="caption-advertise-1 pacifico">Two High-end Materials</p>
                <input type="button" class="advertise_1__bt montserrat-regular" value="Shop Now">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="advertise_2">
                <img src="../assets/images/advertise_2.jpg" alt="small thing make different" class="image-fill">
                <p class="montserrat-regular caption-advertise-2">small thing</p>
                <p class="montserrat-bold caption-advertise-2">make different</p>
            </div>
            <div class="advertise_3">
                <img src="../assets/images/advertise_3.jpg" alt="folio backpack" class="image-fill">
                <p class="montserrat-regular caption-advertise-3">folio</p>
                <p class="montserrat-bold caption-advertise-3">backpack</p>
                <input type="button" class="advertise_3__bt montserrat-regular" value="Shop Now">
            </div>
        </div>
    </div>
</div>
<div class="products container">
    <div class="products__title">
        <h6 class="montserrat-bold">franco</h6>
        <h2 class="montserrat-bold">featured items</h2>
        <hr>
    </div>
    <div class="products__content">
        <div class="products__row1 row">
            <div class="col-lg-3 product">
                <div class="product__img">
                    <img src="../assets/images/product_1.jpg" alt="suspendisse id volutpat" class="image-fill">
                    <input type="button" value="ADD TO CART" class="product__bt montserrat-regular">
                </div>
                <div class="product__detail">
                    <p class="product__name">Suspendisse id volutpat</p>
                    <div class="product__rate">
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--gray"></i>
                    </div>
                    <p class="product__price">
                        <del class="product_price_del">$99.00</del>
                        <span class="product_price_now">$84.00</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 product">
                <div class="product__img">
                    <img src="../assets/images/product_2.jpg" alt="lorem ipsum dolor" class="image-fill">
                    <input type="button" value="ADD TO CART" class="product__bt montserrat-regular">
                </div>
                <div class="product__detail">
                    <p class="product__name">Lorem ipsum dolor</p>
                    <div class="product__rate">
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--gray"></i>
                    </div>
                    <p class="product__price">
                        <del class="product_price_del">$99.00</del>
                        <span class="product_price_now">$84.00</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 product">
                <div class="product__img">
                    <img src="../assets/images/product_3.jpg" alt="Proin sed nulla mi" class="image-fill">
                    <input type="button" value="ADD TO CART" class="product__bt montserrat-regular">
                </div>
                <div class="product__detail">
                    <p class="product__name">Proin sed nulla mi</p>
                    <div class="product__rate">
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--gray"></i>
                    </div>
                    <p class="product__price">
                        <span class="product_price_now">$84.00</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 product">
                <div class="product__img">
                    <img src="../assets/images/product_4.jpg" alt="Aenean placerat" class="image-fill">
                    <input type="button" value="ADD TO CART" class="product__bt montserrat-regular">
                </div>
                <div class="product__detail">
                    <p class="product__name">Aenean placerat</p>
                    <div class="product__rate">
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                    </div>
                    <p class="product__price">
                        <del class="product_price_del">$99.00</del>
                        <span class="product_price_now">$84.00</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="products__row2 row">
            <div class="col-lg-3 product">
                <div class="product__img">
                    <img src="../assets/images/product_5.jpg" alt="suspendisse id volutpat" class="image-fill">
                    <input type="button" value="ADD TO CART" class="product__bt montserrat-regular">
                </div>
                <div class="product__detail">
                    <p class="product__name">Suspendisse id volutpat</p>
                    <div class="product__rate">
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--gray"></i>
                    </div>
                    <p class="product__price">
                        <del class="product_price_del">$99.00</del>
                        <span class="product_price_now">$84.00</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 product">
                <div class="product__img">
                    <img src="../assets/images/product_6.jpg" alt="lorem ipsum dolor" class="image-fill">
                    <input type="button" value="ADD TO CART" class="product__bt montserrat-regular">
                </div>
                <div class="product__detail">
                    <p class="product__name">Lorem ipsum dolor</p>
                    <div class="product__rate">
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--gray"></i>
                    </div>
                    <p class="product__price">
                        <del class="product_price_del">$99.00</del>
                        <span class="product_price_now">$84.00</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 product">
                <div class="product__img">
                    <img src="../assets/images/product_7.jpg" alt="Proin sed nulla mi" class="image-fill">
                    <input type="button" value="ADD TO CART" class="product__bt montserrat-regular">
                </div>
                <div class="product__detail">
                    <p class="product__name">Proin sed nulla mi</p>
                    <div class="product__rate">
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--gray"></i>
                    </div>
                    <p class="product__price">
                        <span class="product_price_now">$84.00</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 product">
                <div class="product__img">
                    <img src="../assets/images/product_8.jpg" alt="Aenean placerat" class="image-fill">
                    <input type="button" value="ADD TO CART" class="product__bt montserrat-regular">
                </div>
                <div class="product__detail">
                    <p class="product__name">Aenean placerat</p>
                    <div class="product__rate">
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                        <i class="fa fa-star-o product__rate--yeallow"></i>
                    </div>
                    <p class="product__price">
                        <del class="product_price_del">$99.00</del>
                        <span class="product_price_now">$84.00</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blogs container-fluid">
    <div class="blogs__title">
        <h6 class="montserrat-bold">latest</h6>
        <h2 class="montserrat-bold">news and evens</h2>
        <hr>
    </div>
    <div class="container">
        <div class="row blogs__content">
            <a href="#" class="col-md-4 post">
                <div class="post__image">
                    <img src="../assets/images/blog_1.jpg" alt="Incommodo dolor vitae" class="image-fill" />
                    <div class="post__date">
                        <div class="post__date__text">
                            <p class="post__month montserrat-regular">Jan</p>
                            <p class="post__day montserrat-bold">23</p>
                        </div>
                    </div>
                </div>
                <div class="post__detail">
                    <div class="post__title montserrat-regular">Incommodo dolor vitae</div>
                    <div class="post__description">Aliquam tempor sagittis neque, 
                        vel aliquam risus consectetur vel. Aenean hendrerit, elit a lacinia suscipit, orci mauris.</div>
                        <hr>
                    <div class="post__infor">
                        <span>
                            <i class='far fa-comment'></i>12
                        </span>
                        <span>
                            <i class='far fa-heart'></i>6
                        </span>
                    </div>
                </div>
            </a>
            <a href="#" class="col-md-4 post">
                <div class="post__image">
                    <img src="../assets/images/blog_2.jpg" alt="Vivamus non dignissim elit" class="image-fill"/>
                    <div class="post__date">
                        <div class="post__date__text">
                            <p class="post__month montserrat-regular">Jan</p>
                            <p class="post__day montserrat-bold">23</p>
                        </div>
                    </div>
                </div>
                <div class="post__detail">
                    <div class="post__title montserrat-regular">Vivamus non dignissim elit</div>
                    <div class="post__description">Aliquam tempor sagittis neque, 
                        vel aliquam risus consectetur vel. Aenean hendrerit, elit a lacinia suscipit, orci mauris.</div>
                        <hr>
                    <div class="post__infor">
                        <span>
                            <i class='far fa-comment'></i>12
                        </span>
                        <span>
                            <i class='far fa-heart'></i>6
                        </span>
                    </div>
                </div>
            </a>
            <a href="#" class="col-md-4 post">
                <div class="post__image">
                    <img src="../assets/images/blog_3.jpg" alt="Ut nacilia erat ut diam volutpat" class="image-fill" />
                    <div class="post__date">
                        <div class="post__date__text">
                            <p class="post__month montserrat-regular">Jan</p>
                            <p class="post__day montserrat-bold">23</p>
                        </div>
                    </div>
                </div>
                <div class="post__detail">
                    <div class="post__title montserrat-regular">Ut nacilia erat ut diam volutpat</div>
                    <div class="post__description">Aliquam tempor sagittis neque, 
                        vel aliquam risus consectetur vel. Aenean hendrerit, elit a lacinia suscipit, orci mauris.</div>
                        <hr>
                    <div class="post__infor">
                        <span>
                            <i class='far fa-comment'></i>12
                        </span>
                        <span>
                            <i class='far fa-heart'></i>6
                        </span>
                    </div>
                </div>
            </a>
            <a href="#" class="col-md-4 post">
                <div class="post__image">
                    <img src="../assets/images/blog_1.jpg" alt="Incommodo dolor vitae" class="image-fill" />
                    <div class="post__date">
                        <div class="post__date__text">
                            <p class="post__month montserrat-regular">Jan</p>
                            <p class="post__day montserrat-bold">23</p>
                        </div>
                    </div>
                </div>
                <div class="post__detail">
                    <div class="post__title montserrat-regular">Incommodo dolor vitae</div>
                    <div class="post__description">Aliquam tempor sagittis neque, 
                        vel aliquam risus consectetur vel. Aenean hendrerit, elit a lacinia suscipit, orci mauris.</div>
                        <hr>
                    <div class="post__infor">
                        <span>
                            <i class='far fa-comment'></i>12
                        </span>
                        <span>
                            <i class='far fa-heart'></i>6
                        </span>
                    </div>
                </div>
            </a>
            <a href="#" class="col-md-4 post">
                <div class="post__image">
                    <img src="../assets/images/blog_2.jpg" alt="Vivamus non dignissim elit" class="image-fill" />
                    <div class="post__date">
                        <div class="post__date__text">
                            <p class="post__month montserrat-regular">Jan</p>
                            <p class="post__day montserrat-bold">23</p>
                        </div>
                    </div>
                </div>
                <div class="post__detail">
                    <div class="post__title montserrat-regular">Vivamus non dignissim elit</div>
                    <div class="post__description">Aliquam tempor sagittis neque, 
                        vel aliquam risus consectetur vel. Aenean hendrerit, elit a lacinia suscipit, orci mauris.</div>
                        <hr>
                    <div class="post__infor">
                        <span>
                            <i class='far fa-comment'></i>12
                        </span>
                        <span>
                            <i class='far fa-heart'></i>6
                        </span>
                    </div>
                </div>
            </a>
            <a href="#" class="col-md-4 post">
                <div class="post__image">
                    <img src="../assets/images/blog_3.jpg" alt="Ut nacilia erat ut diam volutpat" class="image-fill" />
                    <div class="post__date">
                        <div class="post__date__text">
                            <p class="post__month montserrat-regular">Jan</p>
                            <p class="post__day montserrat-bold">23</p>
                        </div>
                    </div>
                </div>
                <div class="post__detail">
                    <div class="post__title montserrat-regular">Ut nacilia erat ut diam volutpat</div>
                    <div class="post__description">Aliquam tempor sagittis neque, 
                        vel aliquam risus consectetur vel. Aenean hendrerit, elit a lacinia suscipit, orci mauris.</div>
                        <hr>
                    <div class="post__infor">
                        <span>
                            <i class='far fa-comment'></i>12
                        </span>
                        <span>
                            <i class='far fa-heart'></i>6
                        </span>
                    </div>
                </div>
            </a>
            <a href="#" class="col-md-4 post">
                <div class="post__image">
                    <img src="../assets/images/blog_1.jpg" alt="Incommodo dolor vitae"  class="image-fill"/>
                    <div class="post__date">
                        <div class="post__date__text">
                            <p class="post__month montserrat-regular">Jan</p>
                            <p class="post__day montserrat-bold">23</p>
                        </div>
                    </div>
                </div>
                <div class="post__detail">
                    <div class="post__title montserrat-regular">Incommodo dolor vitae</div>
                    <div class="post__description">Aliquam tempor sagittis neque, 
                        vel aliquam risus consectetur vel. Aenean hendrerit, elit a lacinia suscipit, orci mauris.</div>
                        <hr>
                    <div class="post__infor">
                        <span>
                            <i class='far fa-comment'></i>12
                        </span>
                        <span>
                            <i class='far fa-heart'></i>6
                        </span>
                    </div>
                </div>
            </a>
            <a href="#" class="col-md-4 post">
                <div class="post__image">
                    <img src="../assets/images/blog_2.jpg" alt="Vivamus non dignissim elit" class="image-fill" />
                    <div class="post__date">
                        <div class="post__date__text">
                            <p class="post__month montserrat-regular">Jan</p>
                            <p class="post__day montserrat-bold">23</p>
                        </div>
                    </div>
                </div>
                <div class="post__detail">
                    <div class="post__title montserrat-regular">Vivamus non dignissim elit</div>
                    <div class="post__description">Aliquam tempor sagittis neque, 
                        vel aliquam risus consectetur vel. Aenean hendrerit, elit a lacinia suscipit, orci mauris.</div>
                        <hr>
                    <div class="post__infor">
                        <span>
                            <i class='far fa-comment'></i>12
                        </span>
                        <span>
                            <i class='far fa-heart'></i>6
                        </span>
                    </div>
                </div>
            </a>
            <a href="#" class="col-md-4 post">
                <div class="post__image">
                    <img src="../assets/images/blog_3.jpg" alt="Ut nacilia erat ut diam volutpat" class="image-fill" />
                    <div class="post__date">
                        <div class="post__date__text">
                            <p class="post__month montserrat-regular">Jan</p>
                            <p class="post__day montserrat-bold">23</p>
                        </div>
                    </div>
                </div>
                <div class="post__detail">
                    <div class="post__title montserrat-regular">Ut nacilia erat ut diam volutpat</div>
                    <div class="post__description">Aliquam tempor sagittis neque, 
                        vel aliquam risus consectetur vel. Aenean hendrerit, elit a lacinia suscipit, orci mauris.</div>
                        <hr>
                    <div class="post__infor">
                        <span>
                            <i class='far fa-comment'></i>12
                        </span>
                        <span>
                            <i class='far fa-heart'></i>6
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<script>
    $('.blogs__content').slick({
        slidesToShow: 3,
        slidesToScroll: 3,
        arrows: false,
        dots: true,
        infinite: true,
        cssEase: 'linear',
        responsive: [
            
            {
            breakpoint: 801,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 2
            }
            },
            {
            breakpoint: 481,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
            }
  ]
    });
</script> 