<footer>
    <div class="container main-footer">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-block about">
                    <div class="block-title montserrat-regular">About Franco</div>
                    <div class="block-content">
                        <p>Aliquam tempor sagittis neque, vel aliquam risus 
                            consectetur vel. Aenean hendrerit, elit a lacinia suscipit, 
                            orci mauris vulputate mi, eu interdum nunc diam at ipsum. </p>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <div class="footer-block navigation">
                    <div class="block-title montserrat-regular">Navigation</div>
                    <div class="block-content">
                        <div class="row">
                            <div class="col-6">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Our Blog</a></li>
                                    <li><a href="#">Women</a></li>
                                    <li><a href="#">Men</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Featured Brands</a></li>
                                    <li><a href="#">Gift Vouchers</a></li>
                                    <li><a href="#">Affiliates</a></li>
                                    <li><a href="#">Specials Gift</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <div class="footer-block location">
                    <div class="block-title montserrat-regular">Shop Location</div>
                    <div class="block-content">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class='far fa-map'></i>
                                    <span>
                                        500 Hennessy Road
                                        <p>Causeway Bay, Hong Kong</p>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-phone"></i>
                                    <span>+1 23456789</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='far fa-envelope'></i>
                                    <span>contact@yourdomain.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="bottom-footer">
            <div class="bottom-footer__left">
                © Copyright 2015 & Made with <i class='fas fa-heart'></i> by <span>ArrowHitech.</span>
            </div>
            <div class="bottom-footer__right">
                <a href="#"><i class="fa fa-cc-visa"></i></a>
                <a href="#"><i class="fa fa-cc-paypal"></i></a>
                <a href="#"><i class='fab fa-cc-mastercard'></i></a>
                <a href="#"><i class="fa fa-cc-discover"></i></a>
                <a href="#"><i class="fa fa-cc-amex"></i></a>
            </div>
        </div>
    </div>
</footer>