*{
    font-family: 'Open Sans', sans-serif;
}
a, a:hover, a:focus{
    text-decoration: none;
}
button, button:focus{
    border: none;
}
.container{
    padding: 0px;
}
ul{
    list-style-type: none;
    margin: 0px auto;
}
// ul li{
//     display: inline-block;
// }